@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
  overflow-x:hidden;
}

*{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  scroll-behavior: smooth;

  
}

#about , #services ,#contact,#footer{
  direction: rtl;
}
